.thumbnail {
  height: 100px; 
  width: 100px;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 10px;
  }

  video::-webkit-media-controls-start-playback-button {
    display: none !important;
  }

}

