.feature-video {
  width:  20em;
  max-width: 90vw;

  video {
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
  }

  video::-webkit-media-controls-start-playback-button {
    display: none !important;
  }
}
