body {
  margin: 0;
  font-family: "Inter", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* html {
  max-height: 100vh !important;
  height: 100vh !important;
} */