.video-gallery {
  margin-top: 2em;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1em;

  video {
    width: 100%;
  }
}

// @media (orientation: landscape) {
//   .video-gallery {
//     display: grid;
//     grid-template-columns: repeat(5, 1fr);
//     grid-template-rows: 6.25em auto auto;
//     grid-row-gap: 0.3em;
//     grid-column-gap: 0.3em;
//     margin-bottom: 5em;
//   }
// }